  :host {
    display: block;
    padding: 1rem 10rem;
    box-sizing: border-box;
    min-height: calc(100vh - 176px);

    h2 {
      font-size: 2.1rem;
    }
  }

  @media (max-width: 1200px) {
    :host {
      padding: 2rem 5rem;
    }
  }
